## The following requirements were added by pip freeze:
blinker @ file:///croot/blinker_1737448726027/work
click @ file:///work/perseverance-python-buildout/croot/click_1728387069202/work
Flask @ file:///croot/flask_1737454299809/work
Flask-Login @ file:///work/perseverance-python-buildout/croot/flask-login_1728497332576/work
Flask-SQLAlchemy @ file:///io/buildout/croot/flask-sqlalchemy_1735869592468/work
greenlet @ file:///croot/greenlet_1733860072744/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
itsdangerous @ file:///io/buildout/croot/itsdangerous_1732920215085/work
Jinja2 @ file:///croot/jinja2_1737760107953/work
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
packaging @ file:///croot/packaging_1734472117206/work
pluggy @ file:///croot/pluggy_1733169602837/work
pytest @ file:///croot/pytest_1738938843180/work
setuptools==75.8.0
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wheel==0.45.1
