{% extends 'base.html' %}

{% block content %}

<main class="row flex-nowrap" style="max-width: 100vw;">
  {% include 'sidebar.html' %}

  <section class="d-flex flex-wrap gap-4">
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
    {% include 'listing.html' %}
  </section>
</main>

{% endblock %}