<aside class="min-vh-100 bg-dark text-white" style="max-width: 300px;">
  <form method="get">
    <h5 class="text-light">Find Listings</h5>
    <div class="d-flex justify-content-between gap-2 mb-3">
      <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>

    <h5 class="text-light">Filters</h5>

    <div class="mb-3">
      <label class="form-label text-light">Price</label>
      <div class="d-flex gap-2">
        <input name="min-price" type="number" class="form-control" placeholder="Min" min="0">
        <input name="max-price" type="number" class="form-control" placeholder="Max" min="0">
      </div>
      <div class="mt-2">
        <input class="form-check-input" type="checkbox" name="free" id="free-listings">
        <label class="form-check-label" for="free-listings">Show Free Listings</label>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Category</label>
      <select name="category" class="form-select">
        <option selected>All</option>
        <option>Furniture</option>
        <option>Technology</option>
        <option>Clothing</option>
      </select>
    </div>

    <button type="submit" class="btn btn-secondary w-100">Apply Filters</button>
  </form>
</aside>